@import "variables";
@import "mixin";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: $primaryFont;

  .carousel-items-wrapper {
    padding: 25px;
  }

  /* Container */
  .container {
    max-width: $containerSize;
    width: 100%;
    padding: 0 25px;

    @include margin-auto;

    &.why {
      max-width: 1120px;
    }
  }

  /* Header */
  .site-header {

    @include clearfix;

    &:after {
      @include screen('tablet') {
        display: none;
      }
    }

    /* Logo */
    .logo-wrapper {
      margin-top: 40px;
      float: left;

      @include clearfix;

      .hamburger {
        display: none;
        cursor: pointer;

        @include screen('tablet') {
          display: block;
          margin-top: 30px;
          float: left;
          margin-left: 75px;
        }

        @include screen('small-mobile') {
          margin-left: 5px;
        }
      }

      .site-logo {
        width: 180px;
        height: 113px;
        float: left;

        @include screen('tablet') {
          display: block;
          margin-left: 25px;
          margin-bottom: 45px;
          margin-top: 0;
          width: 150px;
        }

        @include screen('small-mobile') {
          width: 100px;
        }
      }

      @include screen('tablet') {
        float: none;

        width: 400px;
        @include margin-auto;
      }

      @include screen('small-mobile') {
        width: 220px;
      }
    }

    /* Navigation */
    .site-navigation {
      margin-top: 80px;
      float: right;

      .site-navigation-list {
        width: 700px;

        .site-navigation-list-item {
          font-size: 18px;
          list-style-type: none;

          .site-navigation-list-link {
            display: inline-block;
            float: right;
            margin-left: 30px;
            text-transform: uppercase;
            color: $primaryColor;
            padding: 10px;
            transition: .2s all ease-in-out;
            border-bottom: 5px solid transparent;

            @include no-underline;

            @include screen('tablet') {
              margin-left: 0;
              float: none;
              padding: 15px;
              width: 100%;
            }

            &:hover {
              border-bottom: 5px solid $secondaryColor;
            }

            &.active {
              border-bottom: 5px solid $secondaryColor;
            }
          }

          @include screen('tablet') {
            width: 100%;
            font-size: 12px;
            text-align: center;
          }
        }

        @include screen('tablet') {
          width: 100%;
          display: flex;
          flex-direction: column-reverse;
        }
      }

      @include screen('tablet') {
        display: none;
        margin-bottom: 25px;
        margin-top: 0;
        width: 100%;
      }
    }

    @include screen('tablet') {
      overflow: auto;
    }
  }

  /* Wrapper */
  .wrapper {


    /* Home slides */
    .main-slide {
      margin-top: 55px;
      position: relative;
      cursor: pointer;

      @include clearfix;

      .main-slide-image {
        width: 100%;
        max-width: 1280px;
        height: auto;
        display: inline-block;
      }

      .main-slide-image-caption {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;

        @include screen('tablet') {
          font-size: 18px;
        }

        @include center('vertical');

        @include screen('mobile') {
          position: static;
          transform: translateY(0);
          font-size: 14px;
        }

        .main-slide-image-caption-text {
          width: 100%;
          position: relative;
          top: -1px;
          transition: .3s all ease-in-out;

          span {
            background: $whiteColor;
            color: $primaryColor;
            display: inline-block;
            padding: 0 15px;
            white-space: pre;

            @include clearfix;

            @include screen('tablet') {
              line-height: 2;
            }

            @include screen('mobile') {
              padding: 0;
              margin-top: 10px;
            }
          }
        }
      }

      &.odd {
        .main-slide-image-caption {
          text-align: left;
          width: 100%;
        }

        .main-slide-image {
          float: right;
          transition: .3s all ease-in-out;
          transform: scale(1);
        }

        &:hover {
          .main-slide-image-caption {
            .main-slide-image-caption-text {
              &:nth-of-type(odd) {
                margin-left: -15px;

                span {
                  @include screen('mobile') {
                    background: $whiteColor;
                    color: $primaryColor;
                  }
                }

                @include screen('mobile') {
                  margin-left: 0;
                }
              }

              &:nth-of-type(even) {
                margin-left: 15px;

                span {
                  @include screen('mobile') {
                    background: $whiteColor;
                    color: $primaryColor;
                  }
                }

                @include screen('mobile') {
                  margin-left: 0;
                }
              }

              .highlight {
                color: $whiteColor;

                @include screen('mobile') {
                  color: $secondaryColor;
                }
              }
            }
          }
        }
      }

      &.even {
        .main-slide-image-caption {
          text-align: right;
          width: 100%;
        }

        .main-slide-image {
          float: left;
          transition: all .6s ease-in-out;
          transform: scale(1);
        }

        &:hover {
          .main-slide-image-caption {
            .main-slide-image-caption-text {
              &:nth-of-type(odd) {
                margin-left: -15px;

                span {
                  @include screen('mobile') {
                    background: $whiteColor;
                    color: $primaryColor;
                  }
                }

                @include screen('mobile') {
                  margin-left: 0;
                }
              }

              &:nth-of-type(even) {
                margin-left: 15px;

                span {
                  @include screen('mobile') {
                    background: $whiteColor;
                    color: $primaryColor;
                  }
                }

                @include screen('mobile') {
                  margin-left: 0;
                }
              }

              .highlight {
                color: $whiteColor;

                @include screen('mobile') {
                  color: $secondaryColor;
                }
              }
            }
          }
        }
      }

      .highlight {
        color: $secondaryColor;
      }

      &:hover {
        .main-slide-image {
          transform: scale(.99);
        }

        .main-slide-image-caption {
          .main-slide-image-caption-text {
            > span:nth-of-type(odd) {
              background-color: $secondaryColor;
              color: $whiteColor;
            }

            > span:nth-of-type(even) {
              background-color: $secondaryColor;
              color: $whiteColor;
            }

            .highlight {
              color: $whiteColor;
            }

            @include screen('mobile') {
              transition: none;
            }
          }
        }
      }
    }

    /* About section */
    .about {
      margin-top: 95px;
      overflow: hidden;

      @include screen('tablet') {
        text-align: center;
      }

      .about-header {
        font-family: $secondaryFont;
        font-size: 48px;
        color: $secondaryColor;
        font-weight: 900;
        text-align: center;
        letter-spacing: 5px;

        @include screen('tablet') {
          font-size: 24px;
        }
      }

      .about-description {
        margin-top: 30px;
        font-size: 30px;
        color: $primaryColor;
        text-align: center;

        @include screen('tablet') {
          font-size: 18px;
        }

        @include screen('mobile') {
          font-size: 14px;
          margin-bottom: 15px;
        }
      }

      @include screen('mobile') {
        margin-top: 35px;
      }

      /* Shops */
      .about-shops {
        margin: 150px 0 100px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include clearfix;

        @include screen('tablet') {
          padding: 0 15px;
          margin: 0;
        }

        .about-shops-item {
          list-style-type: none;
          width: 33%;
          float: left;

          @include screen('tablet') {
            padding: 35px;
          }

          @include screen('small-mobile') {
            padding: 10px;
          }

          .about-shops-link {
            display: block;
            margin: 0 auto;
            max-width: 289px;
            text-align: center;

            @include screen('tablet') {
              width: 100%;
            }
          }

          .about-shops-image {
            max-height: 105px;
            margin: auto;

            @include screen('tablet') {
              width: 100%;
              margin: 0;
              display: inline-block;
              max-width: 100px;
            }
          }
        }
      }
    }

    /* How slides */
    .how-section {
      .how-slide {
        margin-top: 55px;
        margin-bottom: 85px;
        cursor: pointer;
        width: 100%;
        position: relative;

        .how-slide-image-caption {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 700;
          width: 100%;

          @include center('vertical');

          @include screen('tablet') {
            font-size: 14px;
          }

          @include screen('mobile') {
            position: static;
            transform: translateY(0);
            font-size: 12px;
          }

          .how-slide-image-caption-text {
            width: 100%;
            transition: .3s all ease-in-out;
            position: relative;
            top: -1px;

            span {
              background: $whiteColor;
              color: $primaryColor;
              display: inline-block;
              position: relative;
              line-height: 2;
              padding: 0 15px;
              white-space: pre;


              &.highlight {
                background: $secondaryColor;
                color: $whiteColor;
                font-size: 32px;

                @include screen('tablet') {
                  font-size: 24px;
                  margin-top: 25px;
                }

                @include screen('mobile') {
                  font-size: 14px;
                  background: $whiteColor;
                  color: $secondaryColor;
                }
              }

              @include screen('tablet') {
                line-height: 2.5;
              }

              @include screen('mobile') {
                padding: 0;
                background: $whiteColor;
              }

              &:not(.highlight) {
                @include screen('mobile') {
                  white-space: normal;
                  display: inline;
                }
              }
            }

            &:not(.header) {
              @include screen('mobile') {
                width: auto;
                display: inline;
              }
            }

            &.header {
              clear: both;

              @include screen('mobile') {
                margin-top: 5px;
                float: left;
              }
            }
          }
        }

        .how-slide-image {
          width: 100%;
          max-width: 840px;
        }

        &.odd {
          .how-slide-image {
            float: left;
            transition: .3s all ease-in-out;
            transform: scale(1);
          }

          .how-slide-image-caption {
            text-align: right;
          }

          &:hover {
            .how-slide-image-caption {
              .how-slide-image-caption-text {
                &:nth-of-type(odd) {
                  margin-left: -25px;

                  @include screen('mobile') {
                    margin-left: 0;
                    background: $whiteColor;
                    color: $primaryColor;

                    &.highlight {
                      background-color: $secondaryColor;
                      color: $whiteColor;
                    }
                  }
                }

                &:nth-of-type(even) {
                  margin-left: 25px;

                  @include screen('mobile') {
                    margin-left: 0;
                    background: $whiteColor;
                    color: $primaryColor;

                    &.highlight {
                      background-color: $secondaryColor;
                      color: $whiteColor;
                    }
                  }
                }

                .highlight {
                  color: $whiteColor;

                  @include screen('mobile') {
                    color: $secondaryColor;
                  }
                }
              }
            }
          }
        }

        &.even {
          .how-slide-image {
            float: right;
            transition: .3s all ease-in-out;
            transform: scale(1);
          }

          .how-slide-image-caption {
            text-align: left;
          }

          &:hover {
            .how-slide-image-caption {
              .how-slide-image-caption-text {
                &:nth-of-type(odd) {
                  margin-left: -25px;

                  @include screen('mobile') {
                    margin-left: 0;
                    background: $whiteColor;
                    color: $primaryColor;

                    &.highlight {
                      background-color: $secondaryColor;
                      color: $whiteColor;
                    }
                  }
                }

                &:nth-of-type(even) {
                  margin-left: 25px;

                  @include screen('mobile') {
                    margin-left: 0;
                    background: $whiteColor;
                    color: $primaryColor;

                    &.highlight {
                      background-color: $secondaryColor;
                      color: $whiteColor;
                    }
                  }
                }

                .highlight {
                  color: $whiteColor;

                  @include screen('mobile') {
                    color: $secondaryColor;
                  }
                }
              }
            }
          }
        }

        @include clearfix;

        &:hover {
          .how-slide-image {
            transform: scale(1);
            width: 100%;
            height: 100%;
          }

          .how-slide-image-caption {
            .how-slide-image-caption-text {

              span {
                background-color: $primaryColor;
                color: $whiteColor;

                @include screen('mobile') {
                  background: #fff;
                  color: $primaryColor;
                }
              }

              @include screen('mobile') {
                transition: none;
              }
            }
          }
        }
      }
    }

    /* Why slide */
    .why-section {
      max-width: 100%;

      @include margin-auto;

      .why-slide {
        margin: 55px auto 85px;
        cursor: pointer;
        width: 95%;
        position: relative;
        visibility: hidden;

        .why-slide-image-caption {
          text-transform: uppercase;
          font-size: 32px;
          font-weight: 700;
          width: 100%;
          z-index: 999;

          @include center('vertical');

          @include screen('tablet') {
            font-size: 24px;
          }

          @include screen('mobile') {
            font-size: 18px;
            transform: translateY(0);
            position: static;
          }

          .why-slide-image-caption-text {
            width: 100%;
            position: relative;
            top: -1px;
            transition: .3s all ease-in-out;
            margin-left: 0;
            margin-right: 0;

            span {
              padding: 0 10px;
              background: $primaryColor;
              color: $whiteColor;
              display: inline-block;
              margin-top: -1px;
              line-height: 1.5;

              @include screen('mobile') {
                line-height: 2;
                width: 100%;
              }
            }
          }

          @include screen('mobile') {
            margin-bottom: 15px;
          }
        }

        .why-slide-image {
          width: 100%;
          max-width: 830px;
        }

        &.odd {
          .why-slide-image {
            float: left;
            transition: .3s all ease-in-out;
            transform: scale(1);
          }

          .why-slide-image-caption {
            text-align: right;
          }

          &:hover {
            .why-slide-image-caption {
              .why-slide-image-caption-text {
                float: left;

                &:nth-of-type(odd) {
                  margin-left: -25px;

                  span {
                    @include screen('mobile') {
                      margin-left: 0;
                      background: $whiteColor;
                      color: $primaryColor;
                    }
                  }
                }

                &:nth-of-type(even) {
                  margin-left: -25px;

                  span {
                    @include screen('mobile') {
                      margin-left: 0;
                      background: $whiteColor;
                      color: $primaryColor;
                    }
                  }
                }
              }
            }
          }
        }

        &.even {
          .why-slide-image {
            float: right;
            transition: .3s all ease-in-out;
            transform: scale(1);
          }

          .why-slide-image-caption {
            text-align: left;
          }

          &:hover {
            .why-slide-image-caption {
              .why-slide-image-caption-text {
                float: left;

                &:nth-of-type(odd) {
                  margin-left: -25px;

                  span {
                    @include screen('mobile') {
                      margin-left: 0;
                      background: $whiteColor;
                      color: $primaryColor;
                    }
                  }
                }

                &:nth-of-type(even) {
                  margin-left: -25px;

                  span {
                    @include screen('mobile') {
                      margin-left: 0;
                      background: $whiteColor;
                      color: $primaryColor;
                    }
                  }
                }
              }
            }
          }
        }

        @include clearfix;

        &:hover {
          .why-slide-image {
            transform: scale(.99);
          }

          .why-slide-image-caption {
            > span {
              background-color: $whiteColor;
              color: $primaryColor;
            }

            @include screen('mobile') {
              transition: none;
              background-color: $whiteColor;
              color: $primaryColor;
            }
          }
        }
      }
    }

    /* What slide */
    .what-slide-section {
      max-width: 1280px;
      padding: 25px;

      @include margin-auto;

      .what-slide {
        margin-top: 55px;
        margin-bottom: 85px;
        cursor: pointer;
        width: 100%;
        max-width: 1024px;
        position: relative;

        .what-slide-image-caption {
          text-transform: uppercase;
          font-size: 32px;
          font-weight: 700;
          width: 100%;
          z-index: 999;

          @include center('vertical');

          @include screen('tablet') {
            font-size: 24px;
          }

          @include screen('mobile') {
            font-size: 14px;
          }

          .what-slide-image-caption-text {
            width: 100%;
            position: relative;
            top: -1px;
            transition: .3s all ease-in-out;
            float: right;

            span {
              padding: 0 15px;
              background: $primaryColor;
              color: $whiteColor;
              display: inline-block;
              line-height: 1.5;
              white-space: pre;

              @include screen('mobile') {
                line-height: 1.5;
              }
            }

            @include screen('mobile') {
              width: auto;
              display: inline;
            }
          }

          @include screen('mobile') {
            margin-bottom: 15px;
            font-size: 18px;
            transform: translateY(0);
            position: static;
            float: right;
          }
        }

        .what-slide-image {
          width: 100%;
          max-width: 860px;
        }

        &.odd {
          .what-slide-image {
            float: left;
            transition: .3s all ease-in-out;
            transform: scale(1);
          }

          .what-slide-image-caption {
            text-align: right;
          }

          &:hover {
            .what-slide-image-caption {
              .what-slide-image-caption-text {
                &:nth-of-type(odd) {
                  margin-right: -25px;

                  @include screen('mobile') {
                    margin-right: 0;
                    background: $whiteColor;
                    color: $primaryColor;
                  }
                }

                &:nth-of-type(even) {
                  margin-right: 25px;

                  @include screen('mobile') {
                    margin-right: 0;
                    background: $whiteColor;
                    color: $primaryColor;
                  }
                }
              }
            }
          }
        }

        &.even {
          .what-slide-image {
            float: right;
            transition: .3s all ease-in-out;
            transform: scale(1);
          }

          .what-slide-image-caption {
            text-align: left;
          }

          &:hover {
            .what-slide-image-caption {
              .what-slide-image-caption-text {
                &:nth-of-type(odd) {
                  margin-right: -25px;

                  @include screen('mobile') {
                    margin-right: 0;
                    background: $whiteColor;
                    color: $primaryColor;
                  }
                }

                &:nth-of-type(even) {
                  margin-right: 25px;

                  @include screen('mobile') {
                    margin-right: 0;
                    background: $whiteColor;
                    color: $primaryColor;
                  }
                }
              }
            }
          }
        }

        @include clearfix;

        &:hover {
          .what-slide-image {
            transform: scale(.99);
          }

          .what-slide-image-caption {
            > span {
              background-color: $whiteColor;
              color: $primaryColor;
            }
          }
        }
      }
    }

    /* What */
    .what-section {
      .what-info {
        padding: 60px;
        text-align: center;
        background: $primaryColor;
        color: $whiteColor;
        text-transform: uppercase;
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: 700;

        @include screen('mobile') {
          font-size: 18px;
        }
      }

      .what-shops {
        margin-top: 45px;

        @include clearfix;

        .what-shop {
          text-align: center;
          padding: 15px;
          width: 50%;
          display: inline-block;
          float: left;

          .what-shop-logo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 75px;

            .what-shop-image {
              max-height: 60px;
            }
          }

          .what-shop-description {
            text-align: justify;
            margin-top: 50px;
            float: left;
            margin-bottom: 50px;
            line-height: 1.2;
            letter-spacing: 1px;
            font-size: 22px;
            cursor: pointer;
            font-variant: small-caps;

            .more {
              color: $primaryColor;
              font-variant: normal;
              font-size: 16px;
              letter-spacing: normal;
            }
          }

          @include screen('tablet') {
            width: 100%;
          }
        }
      }
    }

    /* Where */
    .where-section {

      .where-section-image-wraper {
        position: relative;
      }

      .where-image {
        margin-top: 55px;
        width: 100%;
      }

      .where-description {
        text-align: center;
        text-transform: uppercase;
        padding: 55px;
        color: $whiteColor;
        font-size: 24px;
        line-height: 1.5;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;

        @include screen('mobile') {
          font-size: 12px;
        }
      }

      .where-locations {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .where-location {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin: 15px 0;

          @include screen('mobile') {
            width: 100%;
            flex: 0 0 100%;
          }

          .where-location-video-container {
            position: relative;
            padding-bottom: 69%;        /* Aspect ratio of the video */
            height: 0;
            overflow: hidden;
            width: 100%;

            video {
              position: absolute;
              top: -1px;
              left: -1px;
              width: calc(100% + 2px);
              height: calc(100% + 2px);
            }
          }

          .where-location-image-content {
            width: 100%;
          }

          &.where-location-description {
            padding: 55px;
            align-items: center;
            font-size: 24px;
            color: $primaryColor;
            text-transform: uppercase;
            line-height: 1.5;

            span {
              padding: 0 15px;
              background: $primaryColor;
              color: $whiteColor;
              display: inline-block;
              margin-top: -1px;
              font-weight: 700;
              line-height: 2;
            }

            @include screen('mobile') {
              font-size: 18px;
              padding: 0 !important;
            }
          }

          .where-location-image-description {
            padding: 5px 0;
            width: 100%;
          }
        }

        &.odd {
          .where-location {
            order: 1;
          }

          .where-location-description {
            order: 2;
            padding: 55px 0 55px 55px;
            justify-content: flex-end;

            .where-location-description-text {
              text-align: right;
            }
          }
        }

        &.even {
          .where-location {
            order: 2;

            @include screen('mobile') {
              order: 1;
            }
          }

          .where-location-description {
            order: 1;
            padding: 55px 55px 55px 0;
            justify-content: flex-start;

            @include screen('mobile') {
              order: 2;
            }

            .where-location-description-text {
              text-align: left;
            }
          }
        }

        @include clearfix;
      }
    }
  }

  /* Carrier */
  .carrier-section {
    .carrier-slide {
      max-width: 100%;
      position: relative;
      margin-top: 55px;
      margin-bottom: 55px;

      .carrier-slide-image {
        max-width: 100%;
        width: 100%;
      }

      .carrier-slide-image-caption {
        width: 100%;
        z-index: 999;
        position: absolute;
        bottom: 25px;

        .carrier-slide-image-caption-text {
          transition: all .3s ease-in-out;
          position: relative;
          top: -1px;

          span {
            line-height: 1.5;
            padding: 0 35px;
            background: $primaryColor;
            color: $whiteColor;
            font-size: 30px;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;

            .highlight {
              color: $secondaryColor;
            }

            @include screen('tablet') {
              font-size: 18px;
            }

            @include screen('desktop-small') {
              line-height: 2;
            }
          }
        }

        @include screen('mobile') {
          transform: translateY(0);
          position: static;
          margin-bottom: 15px;
        }
      }

      @include clearfix;

      &.odd {
        .carrier-slide-image-caption {
          text-align: right;
        }

        .carrier-slide-image {
          float: left;
        }
      }

      &.even {
        .carrier-slide-image-caption {
          text-align: left;
        }

        .carrier-slide-image {
          float: right;
        }
      }
    }

    .where-locations {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .where-location {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include screen('mobile') {
          width: 100%;
          flex: 0 0 100%;
        }

        .where-location-video-container {
          position: relative;
          padding-bottom: 69%;        /* Aspect ratio of the video */
          height: 0;
          overflow: hidden;
          width: 100%;

          video {
            position: absolute;
            top: -1px;
            left: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
          }
        }

        .where-location-image-content {
          width: 100%;
        }

        &.where-location-description {
          padding: 55px;
          align-items: center;
          font-size: 18px;
          color: $primaryColor;
          text-transform: uppercase;
          line-height: 1.5;

          span {
            padding: 5px 10px;
            background: $primaryColor;
            color: $whiteColor;
            display: inline-block;
            margin-top: -1px;
          }

          @include screen('desktop-small') {
            font-size: 14px;
          }

          @include screen('mobile') {
            text-align: center;
          }
        }

        .where-location-image-description {
          padding: 5px 0;
          width: 100%;
        }
      }

      &.odd {
        .where-location {
          order: 1;
        }

        .where-location-description {
          order: 2;
          padding: 55px 0 55px 55px;
          justify-content: flex-end;
        }

        .where-location-image-description {
          text-align: left;
        }
      }

      &.even {
        .where-location {
          order: 2;

          @include screen('mobile') {
            order: 1;
          }
        }

        .where-location-description {
          order: 1;
          padding: 55px 55px 55px 0;
          justify-content: flex-start;

          @include screen('mobile') {
            order: 2;
          }
        }

        .where-location-image-description {
          text-align: right;
        }
      }

      @include clearfix;
    }

    .contact-section {
      margin-top: 125px;
      margin-bottom: 55px;

      .contact {
        width: 50%;
        float: left;

        @include screen('mobile') {
          width: 100%;
        }

        &.linkedin {
          .contact-jobs-header {
            padding: 5px 10px;
            background: $primaryColor;
            color: $whiteColor;
            display: inline-block;
            margin-top: -1px;
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
          }

          .contact-jobs-list {
            margin-top: 35px;
            margin-bottom: 55px;

            .contact-jobs-list-item {
              list-style-type: none;
              font-size: 24px;
              text-transform: uppercase;
              margin-bottom: 10px;
            }
          }

          .follow-us {
            margin-top: 15px;
            font-size: 14px;
            color: $primaryColor;
            text-transform: uppercase;
            text-align: center;

            .linkedin-link {
              display: block;
              margin-top: 20px;

              @include clearfix;
            }
          }

          .highlight {
            color: $secondaryColor;
          }
        }

        &.contact-form {
          .contact-form-input,
          .contact-form-textarea {
            width: 100%;
            background: #bfbfbf;
            padding: 10px;
            color: $whiteColor;
            margin-bottom: 10px;
            font-family: $primaryFont;

            &::-webkit-input-placeholder {
              color: $whiteColor;
              text-transform: uppercase;
            }
            &::-moz-placeholder {
              color: $whiteColor;
              text-transform: uppercase;
            }
            &:-ms-input-placeholder {
              color: $whiteColor;
              text-transform: uppercase;
            }
            &:-moz-placeholder {
              color: $whiteColor;
              text-transform: uppercase;
            }
          }

          .contact-form-textarea {
            height: 200px;
          }

          .contact-form-submit {
            width: 265px;
            height: 57px;
            background: $secondaryColor;
            clear: right;
            color: $whiteColor;
            float: right;
            cursor: pointer;
            margin-top: 10px;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            line-height: 60px;

            &.disabled {
              background: #bfbfbf;
            }
          }

          .contact-form-group {
            width: 100%;
            clear: both;
            padding: 15px 0;

            .contact-form-checkbox {
              position: relative;
              top: 1px;
              margin-right: 10px;
            }

            @include clearfix;
          }

          .cv {
            width: 265px;
            height: 57px;
            position: relative;
            background: #bfbfbf;
            color: $whiteColor;
            float: right;
            cursor: pointer;

            .cv-text {
              color: $whiteColor;
              width: 100%;
              text-align: center;
              font-weight: 700;
              line-height: 54px;
              text-transform: uppercase;
            }

            .file {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
            }
          }

          @include screen('mobile') {
            margin-top: 25px;
          }
        }
      }

      @include clearfix;
    }

    .carrier-slide-second {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      align-items: start;
      flex-wrap: wrap;

      .carrier-slide-second-content {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        position: relative;

        .carrier-slide-second-image-content {
          width: 100%;
        }

        @include screen('mobile') {
          width: 100%;
          flex: 0 0 100%;
        }

        &.carrier-slide-second-description {
          padding: 55px;
          align-items: start;
          color: $primaryColor;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 1.5;

          .carrier-slide-second-description-text {
            width: 100%;
            position: relative;
            top: -1px;

            > span:not(.typed-cursor) {
              padding: 0 30px;
              line-height: 1.2;
              background: $primaryColor;
              color: $whiteColor;
              display: inline-block;
              margin-top: -1px;
              font-size: 42px;

              @include screen('desktop-small') {
                font-size: 18px;
                line-height: 2;
              }

              @include screen('mobile') {
                clear: both;
                width: 100%;
                text-align: right;

                @include clearfix;
              }
            }

            .typed-cursor {
              color: $primaryColor;
            }

            &.typed {
              span {
                line-height: 1.2;

                @include screen('desktop-small') {
                  line-height: 2;
                }
              }
            }
          }

          .carrier-slide-second-description-text-sign {
            margin-top: 25px;
          }

          @include screen('desktop-small') {
            text-align: right;
          }

          @include screen('mobile') {
            text-align: center;
          }
        }
      }

      &.odd {
        .carrier-slide-second-content {
          order: 1;
        }

        .carrier-slide-second-image-caption {
          top: 35px;
          left: -25px;
          position: absolute;
          text-align: left;
          text-transform: uppercase;

          .carrier-slide-second-image-caption-text {
            width: 100%;
            position: relative;
            top: -1px;

            span {
              padding: 0 25px;
              line-height: 1.5;
              background: $primaryColor;
              color: $whiteColor;
              display: inline-block;
              margin-top: -1px;
              font-size: 28px;
              font-weight: 700;

              @include screen('desktop-small') {
                font-size: 18px
              }
            }
          }

          .highlight {
            color: $secondaryColor;
          }
        }

        .carrier-slide-second-description {
          order: 2;
          padding: 55px 0 55px 55px;
          justify-content: flex-end;
          text-align: right;
        }
      }

      &.even {
        .carrier-slide-second-content{
          order: 2;

          @include screen('mobile') {
            order: 1;
          }
        }

        .carrier-slide-second-image-caption {
          bottom: 35px;
          right: -25px;
          position: absolute;
          text-align: right;
          text-transform: uppercase;

          .carrier-slide-second-image-caption-text {
            width: 100%;
            position: relative;
            top: -1px;

            span {
              padding: 0 25px;
              line-height: 1.5;
              background: $primaryColor;
              color: $whiteColor;
              display: inline-block;
              margin-top: -1px;
              font-size: 28px;
              font-weight: 700;

              @include screen('desktop-small') {
                font-size: 18px;
              }
            }
          }

          .highlight {
            color: $secondaryColor;
          }
        }

        .carrier-slide-second-description {
          order: 1;
          padding: 55px 55px 55px 0;
          justify-content: flex-start;
          text-align: left;

          @include screen('mobile') {
            order: 2;
          }
        }
      }

      @include clearfix;
    }
  }

  /* Footer */
  .site-footer {
    background: $primaryColor;
    padding: 105px 0;
    overflow: auto;

    @include clearfix;

    .footer-wrapper {
      width: 25%;
      float: right;
      padding: 0 65px;

      @include screen('desktop-large') {
        width: 33%;
        padding: 0 15px;
      }

      .footer-logo {
        width: 200px;
        height: 120px;
      }

      &.footer-logo-wrapper {
        float: left;

        @include screen('desktop-large') {
          display: none;
        }
      }

      &.company-address {
        font-size: 18px;
        color: $whiteColor;
        font-style: normal;
        margin-top: 5px;
        line-height: 1.5;

        @include screen('tablet') {
          font-size: 12px;
        }
      }

      &.company-contact {
        font-size: 18px;
        margin-top: 5px;
        color: #fff;
        line-height: 1.5;

        @include screen('tablet') {
          font-size: 12px;
        }

        @include screen('mobile') {
          width: 66%;
        }
      }

      .company-contact-link {
        color: $whiteColor;

        &.highlight {
          color: $secondaryColor;
        }

        &.policy {
          text-transform: uppercase;
        }

        @include no-underline;
      }
    }
  }

  .policies-section {
    padding: 25px 0;
  }

  .policies-section-paragraph {
    margin: 40px 0 10px 0;
  }

  .policies-section-text,
  ol.policies-section-list li {
    margin: 15px 0;
    list-style-position: inside;
    text-align: justify;

    a {
      font-weight: 700;
      color: #000;

      @include no-underline;
    }
  }

  ul.policies-section-list,
  ul.policies-section-list li {
    margin: 10px 0;
    list-style-position: inside;
    padding-left: 15px;
    text-align: justify;
  }
}