/* Colors */

$primaryColor: #1e1d32;
$whiteColor: #fff;
$secondaryColor: #fa6970;
$thirdColor: #bfdecd;

/* Size of container */
$containerSize: 1440px;

/* Fonts */
$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;