/* Centering content */
/* Animations */
/* Link decorations */
/* Clearfix */
/* Gradient */
/* RWD */

/* Colors */
/* Size of container */
/* Fonts */
/* Centering content */
/* Animations */
/* Link decorations */
/* Clearfix */
/* Gradient */
/* RWD */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

/* Body */
body {
  font-family: "Lato", sans-serif;
  /* Container */
  /* Header */
  /* Wrapper */
  /* Carrier */
  /* Footer */ }
  body .carousel-items-wrapper {
    padding: 25px; }
  body .container {
    max-width: 1440px;
    width: 100%;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto; }
    body .container.why {
      max-width: 1120px; }
  body .site-header {
    /* Logo */
    /* Navigation */ }
    body .site-header:after {
      content: "";
      display: table;
      clear: both; }
    @media only screen and (max-width: 960px) {
      body .site-header:after {
        display: none; } }
    body .site-header .logo-wrapper {
      margin-top: 40px;
      float: left; }
      body .site-header .logo-wrapper:after {
        content: "";
        display: table;
        clear: both; }
      body .site-header .logo-wrapper .hamburger {
        display: none;
        cursor: pointer; }
        @media only screen and (max-width: 960px) {
          body .site-header .logo-wrapper .hamburger {
            display: block;
            margin-top: 30px;
            float: left;
            margin-left: 75px; } }
        @media only screen and (max-width: 480px) {
          body .site-header .logo-wrapper .hamburger {
            margin-left: 5px; } }
      body .site-header .logo-wrapper .site-logo {
        width: 180px;
        height: 113px;
        float: left; }
        @media only screen and (max-width: 960px) {
          body .site-header .logo-wrapper .site-logo {
            display: block;
            margin-left: 25px;
            margin-bottom: 45px;
            margin-top: 0;
            width: 150px; } }
        @media only screen and (max-width: 480px) {
          body .site-header .logo-wrapper .site-logo {
            width: 100px; } }
      @media only screen and (max-width: 960px) {
        body .site-header .logo-wrapper {
          float: none;
          width: 400px;
          margin-left: auto;
          margin-right: auto; } }
      @media only screen and (max-width: 480px) {
        body .site-header .logo-wrapper {
          width: 220px; } }
    body .site-header .site-navigation {
      margin-top: 80px;
      float: right; }
      body .site-header .site-navigation .site-navigation-list {
        width: 700px; }
        body .site-header .site-navigation .site-navigation-list .site-navigation-list-item {
          font-size: 18px;
          list-style-type: none; }
          body .site-header .site-navigation .site-navigation-list .site-navigation-list-item .site-navigation-list-link {
            display: inline-block;
            float: right;
            margin-left: 30px;
            text-transform: uppercase;
            color: #1e1d32;
            padding: 10px;
            transition: .2s all ease-in-out;
            border-bottom: 5px solid transparent; }
            body .site-header .site-navigation .site-navigation-list .site-navigation-list-item .site-navigation-list-link:hover {
              text-decoration: none; }
            body .site-header .site-navigation .site-navigation-list .site-navigation-list-item .site-navigation-list-link:active {
              text-decoration: none; }
            body .site-header .site-navigation .site-navigation-list .site-navigation-list-item .site-navigation-list-link:visited {
              text-decoration: none; }
            body .site-header .site-navigation .site-navigation-list .site-navigation-list-item .site-navigation-list-link:link {
              text-decoration: none; }
            @media only screen and (max-width: 960px) {
              body .site-header .site-navigation .site-navigation-list .site-navigation-list-item .site-navigation-list-link {
                margin-left: 0;
                float: none;
                padding: 15px;
                width: 100%; } }
            body .site-header .site-navigation .site-navigation-list .site-navigation-list-item .site-navigation-list-link:hover {
              border-bottom: 5px solid #fa6970; }
            body .site-header .site-navigation .site-navigation-list .site-navigation-list-item .site-navigation-list-link.active {
              border-bottom: 5px solid #fa6970; }
          @media only screen and (max-width: 960px) {
            body .site-header .site-navigation .site-navigation-list .site-navigation-list-item {
              width: 100%;
              font-size: 12px;
              text-align: center; } }
        @media only screen and (max-width: 960px) {
          body .site-header .site-navigation .site-navigation-list {
            width: 100%;
            display: flex;
            flex-direction: column-reverse; } }
      @media only screen and (max-width: 960px) {
        body .site-header .site-navigation {
          display: none;
          margin-bottom: 25px;
          margin-top: 0;
          width: 100%; } }
    @media only screen and (max-width: 960px) {
      body .site-header {
        overflow: auto; } }
  body .wrapper {
    /* Home slides */
    /* About section */
    /* How slides */
    /* Why slide */
    /* What slide */
    /* What */
    /* Where */ }
    body .wrapper .main-slide {
      margin-top: 55px;
      position: relative;
      cursor: pointer; }
      body .wrapper .main-slide:after {
        content: "";
        display: table;
        clear: both; }
      body .wrapper .main-slide .main-slide-image {
        width: 100%;
        max-width: 1280px;
        height: auto;
        display: inline-block; }
      body .wrapper .main-slide .main-slide-image-caption {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        @media only screen and (max-width: 960px) {
          body .wrapper .main-slide .main-slide-image-caption {
            font-size: 18px; } }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide .main-slide-image-caption {
            position: static;
            transform: translateY(0);
            font-size: 14px; } }
        body .wrapper .main-slide .main-slide-image-caption .main-slide-image-caption-text {
          width: 100%;
          position: relative;
          top: -1px;
          transition: .3s all ease-in-out; }
          body .wrapper .main-slide .main-slide-image-caption .main-slide-image-caption-text span {
            background: #fff;
            color: #1e1d32;
            display: inline-block;
            padding: 0 15px;
            white-space: pre; }
            body .wrapper .main-slide .main-slide-image-caption .main-slide-image-caption-text span:after {
              content: "";
              display: table;
              clear: both; }
            @media only screen and (max-width: 960px) {
              body .wrapper .main-slide .main-slide-image-caption .main-slide-image-caption-text span {
                line-height: 2; } }
            @media only screen and (max-width: 768px) {
              body .wrapper .main-slide .main-slide-image-caption .main-slide-image-caption-text span {
                padding: 0;
                margin-top: 10px; } }
      body .wrapper .main-slide.odd .main-slide-image-caption {
        text-align: left;
        width: 100%; }
      body .wrapper .main-slide.odd .main-slide-image {
        float: right;
        transition: .3s all ease-in-out;
        transform: scale(1); }
      body .wrapper .main-slide.odd:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(odd) {
        margin-left: -15px; }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.odd:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(odd) span {
            background: #fff;
            color: #1e1d32; } }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.odd:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(odd) {
            margin-left: 0; } }
      body .wrapper .main-slide.odd:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(even) {
        margin-left: 15px; }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.odd:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(even) span {
            background: #fff;
            color: #1e1d32; } }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.odd:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(even) {
            margin-left: 0; } }
      body .wrapper .main-slide.odd:hover .main-slide-image-caption .main-slide-image-caption-text .highlight {
        color: #fff; }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.odd:hover .main-slide-image-caption .main-slide-image-caption-text .highlight {
            color: #fa6970; } }
      body .wrapper .main-slide.even .main-slide-image-caption {
        text-align: right;
        width: 100%; }
      body .wrapper .main-slide.even .main-slide-image {
        float: left;
        transition: all .6s ease-in-out;
        transform: scale(1); }
      body .wrapper .main-slide.even:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(odd) {
        margin-left: -15px; }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.even:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(odd) span {
            background: #fff;
            color: #1e1d32; } }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.even:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(odd) {
            margin-left: 0; } }
      body .wrapper .main-slide.even:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(even) {
        margin-left: 15px; }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.even:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(even) span {
            background: #fff;
            color: #1e1d32; } }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.even:hover .main-slide-image-caption .main-slide-image-caption-text:nth-of-type(even) {
            margin-left: 0; } }
      body .wrapper .main-slide.even:hover .main-slide-image-caption .main-slide-image-caption-text .highlight {
        color: #fff; }
        @media only screen and (max-width: 768px) {
          body .wrapper .main-slide.even:hover .main-slide-image-caption .main-slide-image-caption-text .highlight {
            color: #fa6970; } }
      body .wrapper .main-slide .highlight {
        color: #fa6970; }
      body .wrapper .main-slide:hover .main-slide-image {
        transform: scale(0.99); }
      body .wrapper .main-slide:hover .main-slide-image-caption .main-slide-image-caption-text > span:nth-of-type(odd) {
        background-color: #fa6970;
        color: #fff; }
      body .wrapper .main-slide:hover .main-slide-image-caption .main-slide-image-caption-text > span:nth-of-type(even) {
        background-color: #fa6970;
        color: #fff; }
      body .wrapper .main-slide:hover .main-slide-image-caption .main-slide-image-caption-text .highlight {
        color: #fff; }
      @media only screen and (max-width: 768px) {
        body .wrapper .main-slide:hover .main-slide-image-caption .main-slide-image-caption-text {
          transition: none; } }
    body .wrapper .about {
      margin-top: 95px;
      overflow: hidden;
      /* Shops */ }
      @media only screen and (max-width: 960px) {
        body .wrapper .about {
          text-align: center; } }
      body .wrapper .about .about-header {
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        color: #fa6970;
        font-weight: 900;
        text-align: center;
        letter-spacing: 5px; }
        @media only screen and (max-width: 960px) {
          body .wrapper .about .about-header {
            font-size: 24px; } }
      body .wrapper .about .about-description {
        margin-top: 30px;
        font-size: 30px;
        color: #1e1d32;
        text-align: center; }
        @media only screen and (max-width: 960px) {
          body .wrapper .about .about-description {
            font-size: 18px; } }
        @media only screen and (max-width: 768px) {
          body .wrapper .about .about-description {
            font-size: 14px;
            margin-bottom: 15px; } }
      @media only screen and (max-width: 768px) {
        body .wrapper .about {
          margin-top: 35px; } }
      body .wrapper .about .about-shops {
        margin: 150px 0 100px 0;
        display: flex;
        align-items: center;
        justify-content: center; }
        body .wrapper .about .about-shops:after {
          content: "";
          display: table;
          clear: both; }
        @media only screen and (max-width: 960px) {
          body .wrapper .about .about-shops {
            padding: 0 15px;
            margin: 0; } }
        body .wrapper .about .about-shops .about-shops-item {
          list-style-type: none;
          width: 33%;
          float: left; }
          @media only screen and (max-width: 960px) {
            body .wrapper .about .about-shops .about-shops-item {
              padding: 35px; } }
          @media only screen and (max-width: 480px) {
            body .wrapper .about .about-shops .about-shops-item {
              padding: 10px; } }
          body .wrapper .about .about-shops .about-shops-item .about-shops-link {
            display: block;
            margin: 0 auto;
            max-width: 289px;
            text-align: center; }
            @media only screen and (max-width: 960px) {
              body .wrapper .about .about-shops .about-shops-item .about-shops-link {
                width: 100%; } }
          body .wrapper .about .about-shops .about-shops-item .about-shops-image {
            max-height: 105px;
            margin: auto; }
            @media only screen and (max-width: 960px) {
              body .wrapper .about .about-shops .about-shops-item .about-shops-image {
                width: 100%;
                margin: 0;
                display: inline-block;
                max-width: 100px; } }
    body .wrapper .how-section .how-slide {
      margin-top: 55px;
      margin-bottom: 85px;
      cursor: pointer;
      width: 100%;
      position: relative; }
      body .wrapper .how-section .how-slide .how-slide-image-caption {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        @media only screen and (max-width: 960px) {
          body .wrapper .how-section .how-slide .how-slide-image-caption {
            font-size: 14px; } }
        @media only screen and (max-width: 768px) {
          body .wrapper .how-section .how-slide .how-slide-image-caption {
            position: static;
            transform: translateY(0);
            font-size: 12px; } }
        body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text {
          width: 100%;
          transition: .3s all ease-in-out;
          position: relative;
          top: -1px; }
          body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text span {
            background: #fff;
            color: #1e1d32;
            display: inline-block;
            position: relative;
            line-height: 2;
            padding: 0 15px;
            white-space: pre; }
            body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text span.highlight {
              background: #fa6970;
              color: #fff;
              font-size: 32px; }
              @media only screen and (max-width: 960px) {
                body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text span.highlight {
                  font-size: 24px;
                  margin-top: 25px; } }
              @media only screen and (max-width: 768px) {
                body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text span.highlight {
                  font-size: 14px;
                  background: #fff;
                  color: #fa6970; } }
            @media only screen and (max-width: 960px) {
              body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text span {
                line-height: 2.5; } }
            @media only screen and (max-width: 768px) {
              body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text span {
                padding: 0;
                background: #fff; } }
            @media only screen and (max-width: 768px) {
              body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text span:not(.highlight) {
                white-space: normal;
                display: inline; } }
          @media only screen and (max-width: 768px) {
            body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text:not(.header) {
              width: auto;
              display: inline; } }
          body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text.header {
            clear: both; }
            @media only screen and (max-width: 768px) {
              body .wrapper .how-section .how-slide .how-slide-image-caption .how-slide-image-caption-text.header {
                margin-top: 5px;
                float: left; } }
      body .wrapper .how-section .how-slide .how-slide-image {
        width: 100%;
        max-width: 840px; }
      body .wrapper .how-section .how-slide.odd .how-slide-image {
        float: left;
        transition: .3s all ease-in-out;
        transform: scale(1); }
      body .wrapper .how-section .how-slide.odd .how-slide-image-caption {
        text-align: right; }
      body .wrapper .how-section .how-slide.odd:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(odd) {
        margin-left: -25px; }
        @media only screen and (max-width: 768px) {
          body .wrapper .how-section .how-slide.odd:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(odd) {
            margin-left: 0;
            background: #fff;
            color: #1e1d32; }
            body .wrapper .how-section .how-slide.odd:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(odd).highlight {
              background-color: #fa6970;
              color: #fff; } }
      body .wrapper .how-section .how-slide.odd:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(even) {
        margin-left: 25px; }
        @media only screen and (max-width: 768px) {
          body .wrapper .how-section .how-slide.odd:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(even) {
            margin-left: 0;
            background: #fff;
            color: #1e1d32; }
            body .wrapper .how-section .how-slide.odd:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(even).highlight {
              background-color: #fa6970;
              color: #fff; } }
      body .wrapper .how-section .how-slide.odd:hover .how-slide-image-caption .how-slide-image-caption-text .highlight {
        color: #fff; }
        @media only screen and (max-width: 768px) {
          body .wrapper .how-section .how-slide.odd:hover .how-slide-image-caption .how-slide-image-caption-text .highlight {
            color: #fa6970; } }
      body .wrapper .how-section .how-slide.even .how-slide-image {
        float: right;
        transition: .3s all ease-in-out;
        transform: scale(1); }
      body .wrapper .how-section .how-slide.even .how-slide-image-caption {
        text-align: left; }
      body .wrapper .how-section .how-slide.even:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(odd) {
        margin-left: -25px; }
        @media only screen and (max-width: 768px) {
          body .wrapper .how-section .how-slide.even:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(odd) {
            margin-left: 0;
            background: #fff;
            color: #1e1d32; }
            body .wrapper .how-section .how-slide.even:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(odd).highlight {
              background-color: #fa6970;
              color: #fff; } }
      body .wrapper .how-section .how-slide.even:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(even) {
        margin-left: 25px; }
        @media only screen and (max-width: 768px) {
          body .wrapper .how-section .how-slide.even:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(even) {
            margin-left: 0;
            background: #fff;
            color: #1e1d32; }
            body .wrapper .how-section .how-slide.even:hover .how-slide-image-caption .how-slide-image-caption-text:nth-of-type(even).highlight {
              background-color: #fa6970;
              color: #fff; } }
      body .wrapper .how-section .how-slide.even:hover .how-slide-image-caption .how-slide-image-caption-text .highlight {
        color: #fff; }
        @media only screen and (max-width: 768px) {
          body .wrapper .how-section .how-slide.even:hover .how-slide-image-caption .how-slide-image-caption-text .highlight {
            color: #fa6970; } }
      body .wrapper .how-section .how-slide:after {
        content: "";
        display: table;
        clear: both; }
      body .wrapper .how-section .how-slide:hover .how-slide-image {
        transform: scale(1);
        width: 100%;
        height: 100%; }
      body .wrapper .how-section .how-slide:hover .how-slide-image-caption .how-slide-image-caption-text span {
        background-color: #1e1d32;
        color: #fff; }
        @media only screen and (max-width: 768px) {
          body .wrapper .how-section .how-slide:hover .how-slide-image-caption .how-slide-image-caption-text span {
            background: #fff;
            color: #1e1d32; } }
      @media only screen and (max-width: 768px) {
        body .wrapper .how-section .how-slide:hover .how-slide-image-caption .how-slide-image-caption-text {
          transition: none; } }
    body .wrapper .why-section {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      body .wrapper .why-section .why-slide {
        margin: 55px auto 85px;
        cursor: pointer;
        width: 95%;
        position: relative;
        visibility: hidden; }
        body .wrapper .why-section .why-slide .why-slide-image-caption {
          text-transform: uppercase;
          font-size: 32px;
          font-weight: 700;
          width: 100%;
          z-index: 999;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          @media only screen and (max-width: 960px) {
            body .wrapper .why-section .why-slide .why-slide-image-caption {
              font-size: 24px; } }
          @media only screen and (max-width: 768px) {
            body .wrapper .why-section .why-slide .why-slide-image-caption {
              font-size: 18px;
              transform: translateY(0);
              position: static; } }
          body .wrapper .why-section .why-slide .why-slide-image-caption .why-slide-image-caption-text {
            width: 100%;
            position: relative;
            top: -1px;
            transition: .3s all ease-in-out;
            margin-left: 0;
            margin-right: 0; }
            body .wrapper .why-section .why-slide .why-slide-image-caption .why-slide-image-caption-text span {
              padding: 0 10px;
              background: #1e1d32;
              color: #fff;
              display: inline-block;
              margin-top: -1px;
              line-height: 1.5; }
              @media only screen and (max-width: 768px) {
                body .wrapper .why-section .why-slide .why-slide-image-caption .why-slide-image-caption-text span {
                  line-height: 2;
                  width: 100%; } }
          @media only screen and (max-width: 768px) {
            body .wrapper .why-section .why-slide .why-slide-image-caption {
              margin-bottom: 15px; } }
        body .wrapper .why-section .why-slide .why-slide-image {
          width: 100%;
          max-width: 830px; }
        body .wrapper .why-section .why-slide.odd .why-slide-image {
          float: left;
          transition: .3s all ease-in-out;
          transform: scale(1); }
        body .wrapper .why-section .why-slide.odd .why-slide-image-caption {
          text-align: right; }
        body .wrapper .why-section .why-slide.odd:hover .why-slide-image-caption .why-slide-image-caption-text {
          float: left; }
          body .wrapper .why-section .why-slide.odd:hover .why-slide-image-caption .why-slide-image-caption-text:nth-of-type(odd) {
            margin-left: -25px; }
            @media only screen and (max-width: 768px) {
              body .wrapper .why-section .why-slide.odd:hover .why-slide-image-caption .why-slide-image-caption-text:nth-of-type(odd) span {
                margin-left: 0;
                background: #fff;
                color: #1e1d32; } }
          body .wrapper .why-section .why-slide.odd:hover .why-slide-image-caption .why-slide-image-caption-text:nth-of-type(even) {
            margin-left: -25px; }
            @media only screen and (max-width: 768px) {
              body .wrapper .why-section .why-slide.odd:hover .why-slide-image-caption .why-slide-image-caption-text:nth-of-type(even) span {
                margin-left: 0;
                background: #fff;
                color: #1e1d32; } }
        body .wrapper .why-section .why-slide.even .why-slide-image {
          float: right;
          transition: .3s all ease-in-out;
          transform: scale(1); }
        body .wrapper .why-section .why-slide.even .why-slide-image-caption {
          text-align: left; }
        body .wrapper .why-section .why-slide.even:hover .why-slide-image-caption .why-slide-image-caption-text {
          float: left; }
          body .wrapper .why-section .why-slide.even:hover .why-slide-image-caption .why-slide-image-caption-text:nth-of-type(odd) {
            margin-left: -25px; }
            @media only screen and (max-width: 768px) {
              body .wrapper .why-section .why-slide.even:hover .why-slide-image-caption .why-slide-image-caption-text:nth-of-type(odd) span {
                margin-left: 0;
                background: #fff;
                color: #1e1d32; } }
          body .wrapper .why-section .why-slide.even:hover .why-slide-image-caption .why-slide-image-caption-text:nth-of-type(even) {
            margin-left: -25px; }
            @media only screen and (max-width: 768px) {
              body .wrapper .why-section .why-slide.even:hover .why-slide-image-caption .why-slide-image-caption-text:nth-of-type(even) span {
                margin-left: 0;
                background: #fff;
                color: #1e1d32; } }
        body .wrapper .why-section .why-slide:after {
          content: "";
          display: table;
          clear: both; }
        body .wrapper .why-section .why-slide:hover .why-slide-image {
          transform: scale(0.99); }
        body .wrapper .why-section .why-slide:hover .why-slide-image-caption > span {
          background-color: #fff;
          color: #1e1d32; }
        @media only screen and (max-width: 768px) {
          body .wrapper .why-section .why-slide:hover .why-slide-image-caption {
            transition: none;
            background-color: #fff;
            color: #1e1d32; } }
    body .wrapper .what-slide-section {
      max-width: 1280px;
      padding: 25px;
      margin-left: auto;
      margin-right: auto; }
      body .wrapper .what-slide-section .what-slide {
        margin-top: 55px;
        margin-bottom: 85px;
        cursor: pointer;
        width: 100%;
        max-width: 1024px;
        position: relative; }
        body .wrapper .what-slide-section .what-slide .what-slide-image-caption {
          text-transform: uppercase;
          font-size: 32px;
          font-weight: 700;
          width: 100%;
          z-index: 999;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          @media only screen and (max-width: 960px) {
            body .wrapper .what-slide-section .what-slide .what-slide-image-caption {
              font-size: 24px; } }
          @media only screen and (max-width: 768px) {
            body .wrapper .what-slide-section .what-slide .what-slide-image-caption {
              font-size: 14px; } }
          body .wrapper .what-slide-section .what-slide .what-slide-image-caption .what-slide-image-caption-text {
            width: 100%;
            position: relative;
            top: -1px;
            transition: .3s all ease-in-out;
            float: right; }
            body .wrapper .what-slide-section .what-slide .what-slide-image-caption .what-slide-image-caption-text span {
              padding: 0 15px;
              background: #1e1d32;
              color: #fff;
              display: inline-block;
              line-height: 1.5;
              white-space: pre; }
              @media only screen and (max-width: 768px) {
                body .wrapper .what-slide-section .what-slide .what-slide-image-caption .what-slide-image-caption-text span {
                  line-height: 1.5; } }
            @media only screen and (max-width: 768px) {
              body .wrapper .what-slide-section .what-slide .what-slide-image-caption .what-slide-image-caption-text {
                width: auto;
                display: inline; } }
          @media only screen and (max-width: 768px) {
            body .wrapper .what-slide-section .what-slide .what-slide-image-caption {
              margin-bottom: 15px;
              font-size: 18px;
              transform: translateY(0);
              position: static;
              float: right; } }
        body .wrapper .what-slide-section .what-slide .what-slide-image {
          width: 100%;
          max-width: 860px; }
        body .wrapper .what-slide-section .what-slide.odd .what-slide-image {
          float: left;
          transition: .3s all ease-in-out;
          transform: scale(1); }
        body .wrapper .what-slide-section .what-slide.odd .what-slide-image-caption {
          text-align: right; }
        body .wrapper .what-slide-section .what-slide.odd:hover .what-slide-image-caption .what-slide-image-caption-text:nth-of-type(odd) {
          margin-right: -25px; }
          @media only screen and (max-width: 768px) {
            body .wrapper .what-slide-section .what-slide.odd:hover .what-slide-image-caption .what-slide-image-caption-text:nth-of-type(odd) {
              margin-right: 0;
              background: #fff;
              color: #1e1d32; } }
        body .wrapper .what-slide-section .what-slide.odd:hover .what-slide-image-caption .what-slide-image-caption-text:nth-of-type(even) {
          margin-right: 25px; }
          @media only screen and (max-width: 768px) {
            body .wrapper .what-slide-section .what-slide.odd:hover .what-slide-image-caption .what-slide-image-caption-text:nth-of-type(even) {
              margin-right: 0;
              background: #fff;
              color: #1e1d32; } }
        body .wrapper .what-slide-section .what-slide.even .what-slide-image {
          float: right;
          transition: .3s all ease-in-out;
          transform: scale(1); }
        body .wrapper .what-slide-section .what-slide.even .what-slide-image-caption {
          text-align: left; }
        body .wrapper .what-slide-section .what-slide.even:hover .what-slide-image-caption .what-slide-image-caption-text:nth-of-type(odd) {
          margin-right: -25px; }
          @media only screen and (max-width: 768px) {
            body .wrapper .what-slide-section .what-slide.even:hover .what-slide-image-caption .what-slide-image-caption-text:nth-of-type(odd) {
              margin-right: 0;
              background: #fff;
              color: #1e1d32; } }
        body .wrapper .what-slide-section .what-slide.even:hover .what-slide-image-caption .what-slide-image-caption-text:nth-of-type(even) {
          margin-right: 25px; }
          @media only screen and (max-width: 768px) {
            body .wrapper .what-slide-section .what-slide.even:hover .what-slide-image-caption .what-slide-image-caption-text:nth-of-type(even) {
              margin-right: 0;
              background: #fff;
              color: #1e1d32; } }
        body .wrapper .what-slide-section .what-slide:after {
          content: "";
          display: table;
          clear: both; }
        body .wrapper .what-slide-section .what-slide:hover .what-slide-image {
          transform: scale(0.99); }
        body .wrapper .what-slide-section .what-slide:hover .what-slide-image-caption > span {
          background-color: #fff;
          color: #1e1d32; }
    body .wrapper .what-section .what-info {
      padding: 60px;
      text-align: center;
      background: #1e1d32;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 25px;
      font-size: 24px;
      font-weight: 700; }
      @media only screen and (max-width: 768px) {
        body .wrapper .what-section .what-info {
          font-size: 18px; } }
    body .wrapper .what-section .what-shops {
      margin-top: 45px; }
      body .wrapper .what-section .what-shops:after {
        content: "";
        display: table;
        clear: both; }
      body .wrapper .what-section .what-shops .what-shop {
        text-align: center;
        padding: 15px;
        width: 50%;
        display: inline-block;
        float: left; }
        body .wrapper .what-section .what-shops .what-shop .what-shop-logo {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          height: 75px; }
          body .wrapper .what-section .what-shops .what-shop .what-shop-logo .what-shop-image {
            max-height: 60px; }
        body .wrapper .what-section .what-shops .what-shop .what-shop-description {
          text-align: justify;
          margin-top: 50px;
          float: left;
          margin-bottom: 50px;
          line-height: 1.2;
          letter-spacing: 1px;
          font-size: 22px;
          cursor: pointer;
          font-variant: small-caps; }
          body .wrapper .what-section .what-shops .what-shop .what-shop-description .more {
            color: #1e1d32;
            font-variant: normal;
            font-size: 16px;
            letter-spacing: normal; }
        @media only screen and (max-width: 960px) {
          body .wrapper .what-section .what-shops .what-shop {
            width: 100%; } }
    body .wrapper .where-section .where-section-image-wraper {
      position: relative; }
    body .wrapper .where-section .where-image {
      margin-top: 55px;
      width: 100%; }
    body .wrapper .where-section .where-description {
      text-align: center;
      text-transform: uppercase;
      padding: 55px;
      color: #fff;
      font-size: 24px;
      line-height: 1.5;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0; }
      @media only screen and (max-width: 768px) {
        body .wrapper .where-section .where-description {
          font-size: 12px; } }
    body .wrapper .where-section .where-locations {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      body .wrapper .where-section .where-locations .where-location {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 15px 0; }
        @media only screen and (max-width: 768px) {
          body .wrapper .where-section .where-locations .where-location {
            width: 100%;
            flex: 0 0 100%; } }
        body .wrapper .where-section .where-locations .where-location .where-location-video-container {
          position: relative;
          padding-bottom: 69%;
          /* Aspect ratio of the video */
          height: 0;
          overflow: hidden;
          width: 100%; }
          body .wrapper .where-section .where-locations .where-location .where-location-video-container video {
            position: absolute;
            top: -1px;
            left: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px); }
        body .wrapper .where-section .where-locations .where-location .where-location-image-content {
          width: 100%; }
        body .wrapper .where-section .where-locations .where-location.where-location-description {
          padding: 55px;
          align-items: center;
          font-size: 24px;
          color: #1e1d32;
          text-transform: uppercase;
          line-height: 1.5; }
          body .wrapper .where-section .where-locations .where-location.where-location-description span {
            padding: 0 15px;
            background: #1e1d32;
            color: #fff;
            display: inline-block;
            margin-top: -1px;
            font-weight: 700;
            line-height: 2; }
          @media only screen and (max-width: 768px) {
            body .wrapper .where-section .where-locations .where-location.where-location-description {
              font-size: 18px;
              padding: 0 !important; } }
        body .wrapper .where-section .where-locations .where-location .where-location-image-description {
          padding: 5px 0;
          width: 100%; }
      body .wrapper .where-section .where-locations.odd .where-location {
        order: 1; }
      body .wrapper .where-section .where-locations.odd .where-location-description {
        order: 2;
        padding: 55px 0 55px 55px;
        justify-content: flex-end; }
        body .wrapper .where-section .where-locations.odd .where-location-description .where-location-description-text {
          text-align: right; }
      body .wrapper .where-section .where-locations.even .where-location {
        order: 2; }
        @media only screen and (max-width: 768px) {
          body .wrapper .where-section .where-locations.even .where-location {
            order: 1; } }
      body .wrapper .where-section .where-locations.even .where-location-description {
        order: 1;
        padding: 55px 55px 55px 0;
        justify-content: flex-start; }
        @media only screen and (max-width: 768px) {
          body .wrapper .where-section .where-locations.even .where-location-description {
            order: 2; } }
        body .wrapper .where-section .where-locations.even .where-location-description .where-location-description-text {
          text-align: left; }
      body .wrapper .where-section .where-locations:after {
        content: "";
        display: table;
        clear: both; }
  body .carrier-section .carrier-slide {
    max-width: 100%;
    position: relative;
    margin-top: 55px;
    margin-bottom: 55px; }
    body .carrier-section .carrier-slide .carrier-slide-image {
      max-width: 100%;
      width: 100%; }
    body .carrier-section .carrier-slide .carrier-slide-image-caption {
      width: 100%;
      z-index: 999;
      position: absolute;
      bottom: 25px; }
      body .carrier-section .carrier-slide .carrier-slide-image-caption .carrier-slide-image-caption-text {
        transition: all .3s ease-in-out;
        position: relative;
        top: -1px; }
        body .carrier-section .carrier-slide .carrier-slide-image-caption .carrier-slide-image-caption-text span {
          line-height: 1.5;
          padding: 0 35px;
          background: #1e1d32;
          color: #fff;
          font-size: 30px;
          display: inline-block;
          text-transform: uppercase;
          font-weight: 700; }
          body .carrier-section .carrier-slide .carrier-slide-image-caption .carrier-slide-image-caption-text span .highlight {
            color: #fa6970; }
          @media only screen and (max-width: 960px) {
            body .carrier-section .carrier-slide .carrier-slide-image-caption .carrier-slide-image-caption-text span {
              font-size: 18px; } }
          @media only screen and (max-width: 1024px) {
            body .carrier-section .carrier-slide .carrier-slide-image-caption .carrier-slide-image-caption-text span {
              line-height: 2; } }
      @media only screen and (max-width: 768px) {
        body .carrier-section .carrier-slide .carrier-slide-image-caption {
          transform: translateY(0);
          position: static;
          margin-bottom: 15px; } }
    body .carrier-section .carrier-slide:after {
      content: "";
      display: table;
      clear: both; }
    body .carrier-section .carrier-slide.odd .carrier-slide-image-caption {
      text-align: right; }
    body .carrier-section .carrier-slide.odd .carrier-slide-image {
      float: left; }
    body .carrier-section .carrier-slide.even .carrier-slide-image-caption {
      text-align: left; }
    body .carrier-section .carrier-slide.even .carrier-slide-image {
      float: right; }
  body .carrier-section .where-locations {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    body .carrier-section .where-locations .where-location {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      @media only screen and (max-width: 768px) {
        body .carrier-section .where-locations .where-location {
          width: 100%;
          flex: 0 0 100%; } }
      body .carrier-section .where-locations .where-location .where-location-video-container {
        position: relative;
        padding-bottom: 69%;
        /* Aspect ratio of the video */
        height: 0;
        overflow: hidden;
        width: 100%; }
        body .carrier-section .where-locations .where-location .where-location-video-container video {
          position: absolute;
          top: -1px;
          left: -1px;
          width: calc(100% + 2px);
          height: calc(100% + 2px); }
      body .carrier-section .where-locations .where-location .where-location-image-content {
        width: 100%; }
      body .carrier-section .where-locations .where-location.where-location-description {
        padding: 55px;
        align-items: center;
        font-size: 18px;
        color: #1e1d32;
        text-transform: uppercase;
        line-height: 1.5; }
        body .carrier-section .where-locations .where-location.where-location-description span {
          padding: 5px 10px;
          background: #1e1d32;
          color: #fff;
          display: inline-block;
          margin-top: -1px; }
        @media only screen and (max-width: 1024px) {
          body .carrier-section .where-locations .where-location.where-location-description {
            font-size: 14px; } }
        @media only screen and (max-width: 768px) {
          body .carrier-section .where-locations .where-location.where-location-description {
            text-align: center; } }
      body .carrier-section .where-locations .where-location .where-location-image-description {
        padding: 5px 0;
        width: 100%; }
    body .carrier-section .where-locations.odd .where-location {
      order: 1; }
    body .carrier-section .where-locations.odd .where-location-description {
      order: 2;
      padding: 55px 0 55px 55px;
      justify-content: flex-end; }
    body .carrier-section .where-locations.odd .where-location-image-description {
      text-align: left; }
    body .carrier-section .where-locations.even .where-location {
      order: 2; }
      @media only screen and (max-width: 768px) {
        body .carrier-section .where-locations.even .where-location {
          order: 1; } }
    body .carrier-section .where-locations.even .where-location-description {
      order: 1;
      padding: 55px 55px 55px 0;
      justify-content: flex-start; }
      @media only screen and (max-width: 768px) {
        body .carrier-section .where-locations.even .where-location-description {
          order: 2; } }
    body .carrier-section .where-locations.even .where-location-image-description {
      text-align: right; }
    body .carrier-section .where-locations:after {
      content: "";
      display: table;
      clear: both; }
  body .carrier-section .contact-section {
    margin-top: 125px;
    margin-bottom: 55px; }
    body .carrier-section .contact-section .contact {
      width: 50%;
      float: left; }
      @media only screen and (max-width: 768px) {
        body .carrier-section .contact-section .contact {
          width: 100%; } }
      body .carrier-section .contact-section .contact.linkedin .contact-jobs-header {
        padding: 5px 10px;
        background: #1e1d32;
        color: #fff;
        display: inline-block;
        margin-top: -1px;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase; }
      body .carrier-section .contact-section .contact.linkedin .contact-jobs-list {
        margin-top: 35px;
        margin-bottom: 55px; }
        body .carrier-section .contact-section .contact.linkedin .contact-jobs-list .contact-jobs-list-item {
          list-style-type: none;
          font-size: 24px;
          text-transform: uppercase;
          margin-bottom: 10px; }
      body .carrier-section .contact-section .contact.linkedin .follow-us {
        margin-top: 15px;
        font-size: 14px;
        color: #1e1d32;
        text-transform: uppercase;
        text-align: center; }
        body .carrier-section .contact-section .contact.linkedin .follow-us .linkedin-link {
          display: block;
          margin-top: 20px; }
          body .carrier-section .contact-section .contact.linkedin .follow-us .linkedin-link:after {
            content: "";
            display: table;
            clear: both; }
      body .carrier-section .contact-section .contact.linkedin .highlight {
        color: #fa6970; }
      body .carrier-section .contact-section .contact.contact-form .contact-form-input,
      body .carrier-section .contact-section .contact.contact-form .contact-form-textarea {
        width: 100%;
        background: #bfbfbf;
        padding: 10px;
        color: #fff;
        margin-bottom: 10px;
        font-family: "Lato", sans-serif; }
        body .carrier-section .contact-section .contact.contact-form .contact-form-input::-webkit-input-placeholder,
        body .carrier-section .contact-section .contact.contact-form .contact-form-textarea::-webkit-input-placeholder {
          color: #fff;
          text-transform: uppercase; }
        body .carrier-section .contact-section .contact.contact-form .contact-form-input::-moz-placeholder,
        body .carrier-section .contact-section .contact.contact-form .contact-form-textarea::-moz-placeholder {
          color: #fff;
          text-transform: uppercase; }
        body .carrier-section .contact-section .contact.contact-form .contact-form-input:-ms-input-placeholder,
        body .carrier-section .contact-section .contact.contact-form .contact-form-textarea:-ms-input-placeholder {
          color: #fff;
          text-transform: uppercase; }
        body .carrier-section .contact-section .contact.contact-form .contact-form-input:-moz-placeholder,
        body .carrier-section .contact-section .contact.contact-form .contact-form-textarea:-moz-placeholder {
          color: #fff;
          text-transform: uppercase; }
      body .carrier-section .contact-section .contact.contact-form .contact-form-textarea {
        height: 200px; }
      body .carrier-section .contact-section .contact.contact-form .contact-form-submit {
        width: 265px;
        height: 57px;
        background: #fa6970;
        clear: right;
        color: #fff;
        float: right;
        cursor: pointer;
        margin-top: 10px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 60px; }
        body .carrier-section .contact-section .contact.contact-form .contact-form-submit.disabled {
          background: #bfbfbf; }
      body .carrier-section .contact-section .contact.contact-form .contact-form-group {
        width: 100%;
        clear: both;
        padding: 15px 0; }
        body .carrier-section .contact-section .contact.contact-form .contact-form-group .contact-form-checkbox {
          position: relative;
          top: 1px;
          margin-right: 10px; }
        body .carrier-section .contact-section .contact.contact-form .contact-form-group:after {
          content: "";
          display: table;
          clear: both; }
      body .carrier-section .contact-section .contact.contact-form .cv {
        width: 265px;
        height: 57px;
        position: relative;
        background: #bfbfbf;
        color: #fff;
        float: right;
        cursor: pointer; }
        body .carrier-section .contact-section .contact.contact-form .cv .cv-text {
          color: #fff;
          width: 100%;
          text-align: center;
          font-weight: 700;
          line-height: 54px;
          text-transform: uppercase; }
        body .carrier-section .contact-section .contact.contact-form .cv .file {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0; }
      @media only screen and (max-width: 768px) {
        body .carrier-section .contact-section .contact.contact-form {
          margin-top: 25px; } }
    body .carrier-section .contact-section:after {
      content: "";
      display: table;
      clear: both; }
  body .carrier-section .carrier-slide-second {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    flex-wrap: wrap; }
    body .carrier-section .carrier-slide-second .carrier-slide-second-content {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      position: relative; }
      body .carrier-section .carrier-slide-second .carrier-slide-second-content .carrier-slide-second-image-content {
        width: 100%; }
      @media only screen and (max-width: 768px) {
        body .carrier-section .carrier-slide-second .carrier-slide-second-content {
          width: 100%;
          flex: 0 0 100%; } }
      body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description {
        padding: 55px;
        align-items: start;
        color: #1e1d32;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.5; }
        body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text {
          width: 100%;
          position: relative;
          top: -1px; }
          body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text > span:not(.typed-cursor) {
            padding: 0 30px;
            line-height: 1.2;
            background: #1e1d32;
            color: #fff;
            display: inline-block;
            margin-top: -1px;
            font-size: 42px; }
            @media only screen and (max-width: 1024px) {
              body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text > span:not(.typed-cursor) {
                font-size: 18px;
                line-height: 2; } }
            @media only screen and (max-width: 768px) {
              body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text > span:not(.typed-cursor) {
                clear: both;
                width: 100%;
                text-align: right; }
                body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text > span:not(.typed-cursor):after {
                  content: "";
                  display: table;
                  clear: both; } }
          body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text .typed-cursor {
            color: #1e1d32; }
          body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text.typed span {
            line-height: 1.2; }
            @media only screen and (max-width: 1024px) {
              body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text.typed span {
                line-height: 2; } }
        body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description .carrier-slide-second-description-text-sign {
          margin-top: 25px; }
        @media only screen and (max-width: 1024px) {
          body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description {
            text-align: right; } }
        @media only screen and (max-width: 768px) {
          body .carrier-section .carrier-slide-second .carrier-slide-second-content.carrier-slide-second-description {
            text-align: center; } }
    body .carrier-section .carrier-slide-second.odd .carrier-slide-second-content {
      order: 1; }
    body .carrier-section .carrier-slide-second.odd .carrier-slide-second-image-caption {
      top: 35px;
      left: -25px;
      position: absolute;
      text-align: left;
      text-transform: uppercase; }
      body .carrier-section .carrier-slide-second.odd .carrier-slide-second-image-caption .carrier-slide-second-image-caption-text {
        width: 100%;
        position: relative;
        top: -1px; }
        body .carrier-section .carrier-slide-second.odd .carrier-slide-second-image-caption .carrier-slide-second-image-caption-text span {
          padding: 0 25px;
          line-height: 1.5;
          background: #1e1d32;
          color: #fff;
          display: inline-block;
          margin-top: -1px;
          font-size: 28px;
          font-weight: 700; }
          @media only screen and (max-width: 1024px) {
            body .carrier-section .carrier-slide-second.odd .carrier-slide-second-image-caption .carrier-slide-second-image-caption-text span {
              font-size: 18px; } }
      body .carrier-section .carrier-slide-second.odd .carrier-slide-second-image-caption .highlight {
        color: #fa6970; }
    body .carrier-section .carrier-slide-second.odd .carrier-slide-second-description {
      order: 2;
      padding: 55px 0 55px 55px;
      justify-content: flex-end;
      text-align: right; }
    body .carrier-section .carrier-slide-second.even .carrier-slide-second-content {
      order: 2; }
      @media only screen and (max-width: 768px) {
        body .carrier-section .carrier-slide-second.even .carrier-slide-second-content {
          order: 1; } }
    body .carrier-section .carrier-slide-second.even .carrier-slide-second-image-caption {
      bottom: 35px;
      right: -25px;
      position: absolute;
      text-align: right;
      text-transform: uppercase; }
      body .carrier-section .carrier-slide-second.even .carrier-slide-second-image-caption .carrier-slide-second-image-caption-text {
        width: 100%;
        position: relative;
        top: -1px; }
        body .carrier-section .carrier-slide-second.even .carrier-slide-second-image-caption .carrier-slide-second-image-caption-text span {
          padding: 0 25px;
          line-height: 1.5;
          background: #1e1d32;
          color: #fff;
          display: inline-block;
          margin-top: -1px;
          font-size: 28px;
          font-weight: 700; }
          @media only screen and (max-width: 1024px) {
            body .carrier-section .carrier-slide-second.even .carrier-slide-second-image-caption .carrier-slide-second-image-caption-text span {
              font-size: 18px; } }
      body .carrier-section .carrier-slide-second.even .carrier-slide-second-image-caption .highlight {
        color: #fa6970; }
    body .carrier-section .carrier-slide-second.even .carrier-slide-second-description {
      order: 1;
      padding: 55px 55px 55px 0;
      justify-content: flex-start;
      text-align: left; }
      @media only screen and (max-width: 768px) {
        body .carrier-section .carrier-slide-second.even .carrier-slide-second-description {
          order: 2; } }
    body .carrier-section .carrier-slide-second:after {
      content: "";
      display: table;
      clear: both; }
  body .site-footer {
    background: #1e1d32;
    padding: 105px 0;
    overflow: auto; }
    body .site-footer:after {
      content: "";
      display: table;
      clear: both; }
    body .site-footer .footer-wrapper {
      width: 25%;
      float: right;
      padding: 0 65px; }
      @media only screen and (max-width: 1280px) {
        body .site-footer .footer-wrapper {
          width: 33%;
          padding: 0 15px; } }
      body .site-footer .footer-wrapper .footer-logo {
        width: 200px;
        height: 120px; }
      body .site-footer .footer-wrapper.footer-logo-wrapper {
        float: left; }
        @media only screen and (max-width: 1280px) {
          body .site-footer .footer-wrapper.footer-logo-wrapper {
            display: none; } }
      body .site-footer .footer-wrapper.company-address {
        font-size: 18px;
        color: #fff;
        font-style: normal;
        margin-top: 5px;
        line-height: 1.5; }
        @media only screen and (max-width: 960px) {
          body .site-footer .footer-wrapper.company-address {
            font-size: 12px; } }
      body .site-footer .footer-wrapper.company-contact {
        font-size: 18px;
        margin-top: 5px;
        color: #fff;
        line-height: 1.5; }
        @media only screen and (max-width: 960px) {
          body .site-footer .footer-wrapper.company-contact {
            font-size: 12px; } }
        @media only screen and (max-width: 768px) {
          body .site-footer .footer-wrapper.company-contact {
            width: 66%; } }
      body .site-footer .footer-wrapper .company-contact-link {
        color: #fff; }
        body .site-footer .footer-wrapper .company-contact-link.highlight {
          color: #fa6970; }
        body .site-footer .footer-wrapper .company-contact-link.policy {
          text-transform: uppercase; }
        body .site-footer .footer-wrapper .company-contact-link:hover {
          text-decoration: none; }
        body .site-footer .footer-wrapper .company-contact-link:active {
          text-decoration: none; }
        body .site-footer .footer-wrapper .company-contact-link:visited {
          text-decoration: none; }
        body .site-footer .footer-wrapper .company-contact-link:link {
          text-decoration: none; }
  body .policies-section {
    padding: 25px 0; }
  body .policies-section-paragraph {
    margin: 40px 0 10px 0; }
  body .policies-section-text,
  body ol.policies-section-list li {
    margin: 15px 0;
    list-style-position: inside;
    text-align: justify; }
    body .policies-section-text a,
    body ol.policies-section-list li a {
      font-weight: 700;
      color: #000; }
      body .policies-section-text a:hover,
      body ol.policies-section-list li a:hover {
        text-decoration: none; }
      body .policies-section-text a:active,
      body ol.policies-section-list li a:active {
        text-decoration: none; }
      body .policies-section-text a:visited,
      body ol.policies-section-list li a:visited {
        text-decoration: none; }
      body .policies-section-text a:link,
      body ol.policies-section-list li a:link {
        text-decoration: none; }
  body ul.policies-section-list,
  body ul.policies-section-list li {
    margin: 10px 0;
    list-style-position: inside;
    padding-left: 15px;
    text-align: justify; }

/* Colors */
/* Size of container */
/* Fonts */
